@using NikaScrapApp.Web.Utility
@model NikaScrapApp.Web.Models.View.Category

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Pickup</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Pickup</li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="col-12">
            @{
                var notification = NotificationHelper.GetNotification(TempData);
                if (notification != null)
                {
                    <div class="alert alert-@notification.Type alert-dismissible fade show" role="alert">
                        <strong>@notification.DisplayType!</strong>  @notification.Message
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Category">
         
            <div class="form-group">
                <label asp-for="NameInEnglish" class="control-label"></label>
                <input asp-for="NameInEnglish" class="form-control" />
                <span asp-validation-for="NameInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameIsHindi" class="control-label"></label>
                <input asp-for="NameIsHindi" class="form-control" />
                <span asp-validation-for="NameIsHindi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Create" asp-controller="Category" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 </div>
 </div>
 </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
